.container {
    padding: 30px;
    width: 700px;
    margin: 0 auto;
}

.button__marginRight {
    margin-right: 10px;
}

.footer {
    text-align: right;
}

.qualification__item {
    position: relative;
}

.removeItem__btn {
    position: absolute;
    top: 9px;
    right: 5px;
}
